*               text eol=lf
.*              text eol=lf

flake.lock      binary
*.png           binary

*.md            diff=markdown
*.mrconfig      linguist-language=ini diff=ini

/.github        export-ignore
/docs           export-ignore
